.elementor-795 .elementor-element.elementor-element-c1bb8e5 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--overlay-opacity: 0.41;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 0px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-c1bb8e5::before,
.elementor-795 .elementor-element.elementor-element-c1bb8e5>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-c1bb8e5>.e-con-inner>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-c1bb8e5>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-c1bb8e5>.e-con-inner>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-c1bb8e5>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	--background-overlay: '';
}

.elementor-795 .elementor-element.elementor-element-fdf81d6 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 100px 100px;
	--row-gap: 100px;
	--column-gap: 100px;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 60px;
	--padding-bottom: 60px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-fdf81d6:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-fdf81d6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #111111;
}

.elementor-795 .elementor-element.elementor-element-0a982d6 {
	--display: flex;
}

.elementor-795 .elementor-element.elementor-element-0a982d6.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-widget-heading .elementor-heading-title {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-29cb463 {
	text-align: right;
}

.elementor-795 .elementor-element.elementor-element-29cb463 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 55px;
	font-weight: 300;
	color: var(--e-global-color-ac08eb1);
}

.elementor-widget-animated-headline .elementor-headline-plain-text {
	color: var(--e-global-color-secondary);
}

.elementor-widget-animated-headline .elementor-headline {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-animated-headline {
	--dynamic-text-color: var(--e-global-color-secondary);
}

.elementor-widget-animated-headline .elementor-headline-dynamic-text {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-animated-headline .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
}

.elementor-795 .elementor-element.elementor-element-cb26d90 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-ac08eb1);
}

.elementor-795 .elementor-element.elementor-element-cb26d90 .elementor-headline {
	text-align: right;
	font-family: "Poppins", Sans-serif;
	font-size: 64px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-cb26d90 .elementor-headline-plain-text {
	color: var(--e-global-color-ac08eb1);
}

.elementor-795 .elementor-element.elementor-element-cb26d90 .elementor-headline-dynamic-text {
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-795 .elementor-element.elementor-element-cb26d90 .elementor-headline-dynamic-wrapper path {
	stroke: #F0F0F0;
	stroke-width: 2px;
}

.elementor-widget-text-editor {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-349b457>.elementor-widget-container {
	padding: 19px 0px 0px 0px;
}

.elementor-795 .elementor-element.elementor-element-349b457 {
	text-align: right;
	font-family: "Jost", Sans-serif;
	font-size: 23px;
	font-weight: 300;
	color: #E4E4E4;
}

.elementor-widget-button .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: var(--e-global-typography-accent-font-family), Sans-serif;
	font-weight: var(--e-global-typography-accent-font-weight);
}

.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button {
	background-color: var(--e-global-color-ac08eb1);
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: none;
	border-radius: 2px 2px 2px 2px;
	padding: 16px 40px 14px 40px;
}

.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button:hover,
.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button:focus {
	background-color: var(--e-global-color-secondary);
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button-content-wrapper {
	flex-direction: row-reverse;
}

.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button:hover svg,
.elementor-795 .elementor-element.elementor-element-5717b5c .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-29219f8 {
	--display: flex;
}

.elementor-795 .elementor-element.elementor-element-041761a>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	border-style: solid;
	border-width: 13px 13px 13px 13px;
	border-color: var(--e-global-color-accent);
	border-radius: 22px 22px 22px 22px;
}

.elementor-795 .elementor-element.elementor-element-041761a.elementor-element {
	--align-self: center;
}

.elementor-795 .elementor-element.elementor-element-041761a .elementor-wrapper {
	--video-aspect-ratio: 1.77777;
}

.elementor-795 .elementor-element.elementor-element-845deb8 {
	--spacer-size: 5px;
}

.elementor-795 .elementor-element.elementor-element-eba3927 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}

.elementor-795 .elementor-element.elementor-element-0457938 {
	--display: flex;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--border-radius: 15px 15px 15px 15px;
}

.elementor-795 .elementor-element.elementor-element-01c0661 {
	text-align: center;
}

.elementor-795 .elementor-element.elementor-element-01c0661 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 36px;
	font-weight: 300;
	color: var(--e-global-color-ac08eb1);
}

.elementor-795 .elementor-element.elementor-element-6b95090 {
	--e-image-carousel-slides-to-show: 6;
}

.elementor-795 .elementor-element.elementor-element-6b95090.elementor-element {
	--align-self: center;
}

.elementor-795 .elementor-element.elementor-element-6b95090 .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	background: #616161;
	opacity: 1;
}

.elementor-795 .elementor-element.elementor-element-6b95090 .swiper-pagination-bullet {
	background: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-6b95090 .swiper-wrapper {
	display: flex;
	align-items: center;
}

.elementor-795 .elementor-element.elementor-element-f7b9cb8 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-6a6a218 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 50px 50px;
	--row-gap: 50px;
	--column-gap: 50px;
	--border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	--padding-top: 70px;
	--padding-bottom: 70px;
	--padding-left: 70px;
	--padding-right: 70px;
}

.elementor-795 .elementor-element.elementor-element-6a6a218:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-6a6a218>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-aa680d3 {
	--display: flex;
}

.elementor-widget-image .widget-image-caption {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-795 .elementor-element.elementor-element-041df2b img {
	border-radius: 15px 15px 15px 15px;
}

.elementor-795 .elementor-element.elementor-element-b66f0cd {
	text-align: right;
}

.elementor-795 .elementor-element.elementor-element-b66f0cd .elementor-heading-title {
	font-family: "Jost", Sans-serif;
	font-size: 23px;
	font-weight: 400;
	font-style: italic;
	line-height: 29px;
}

.elementor-795 .elementor-element.elementor-element-3906bc8 {
	--display: flex;
	--justify-content: center;
}

.elementor-795 .elementor-element.elementor-element-f85d55e .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 56px;
	font-weight: 600;
}

.elementor-795 .elementor-element.elementor-element-8190cc4 {
	font-family: "Jost", Sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.3em;
}

.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button {
	background-color: var(--e-global-color-accent);
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	fill: var(--e-global-color-ac08eb1);
	color: var(--e-global-color-ac08eb1);
	border-style: none;
	border-radius: 2px 2px 2px 2px;
	padding: 16px 40px 14px 40px;
}

.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button:hover,
.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button:focus {
	background-color: var(--e-global-color-text);
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button-content-wrapper {
	flex-direction: row-reverse;
}

.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button:hover svg,
.elementor-795 .elementor-element.elementor-element-8f3d0a3 .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-4d09ac6 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
}

.elementor-795 .elementor-element.elementor-element-6c62d80 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--margin-top: 67px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-6c62d80.e-con {
	--align-self: center;
}

.elementor-795 .elementor-element.elementor-element-a54a6e4 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 80px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-a2198a0 {
	--display: flex;
	--gap: 10px 10px;
	--row-gap: 10px;
	--column-gap: 10px;
	--overlay-opacity: 0.7;
	--border-radius: 10px 10px 10px 10px;
	--padding-top: 60px;
	--padding-bottom: 60px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-a2198a0:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-a2198a0>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../../../wp-content/uploads/2025/01/matthew-hamilton-UGIBCkWPPQU-unsplash-p.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-795 .elementor-element.elementor-element-a2198a0::before,
.elementor-795 .elementor-element.elementor-element-a2198a0>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-a2198a0>.e-con-inner>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-a2198a0>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-a2198a0>.e-con-inner>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-a2198a0>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	background-color: var(--e-global-color-accent);
	--background-overlay: '';
}

.elementor-795 .elementor-element.elementor-element-a756594>.elementor-widget-container {
	padding: 0px 0px 0px 0px;
}

.elementor-795 .elementor-element.elementor-element-a756594 {
	text-align: center;
}

.elementor-795 .elementor-element.elementor-element-a756594 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 40px;
	font-weight: 600;
	color: var(--e-global-color-astglobalcolor5);
}

.elementor-795 .elementor-element.elementor-element-05c36c0 {
	text-align: center;
	font-family: "Jost", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: var(--e-global-color-astglobalcolor5);
}

.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button {
	background-color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	transition-duration: 0.6s;
	border-style: none;
	border-radius: 2px 2px 2px 2px;
	padding: 24px 50px 20px 50px;
}

.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button:hover,
.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button:focus {
	background-color: var(--e-global-color-text);
	color: var(--e-global-color-astglobalcolor5);
}

.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button-content-wrapper {
	flex-direction: row;
}

.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button .elementor-button-content-wrapper {
	gap: 15px;
}

.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button:hover svg,
.elementor-795 .elementor-element.elementor-element-9be5487 .elementor-button:focus svg {
	fill: var(--e-global-color-astglobalcolor5);
}

.elementor-795 .elementor-element.elementor-element-8b4e0b2 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--margin-top: 0px;
	--margin-bottom: 50px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-ef39b6a {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 50px 50px;
	--row-gap: 50px;
	--column-gap: 50px;
	--border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 56px 21px 0px rgba(0, 0, 0, 0.23);
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-ef39b6a:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-ef39b6a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #111111;
}

.elementor-795 .elementor-element.elementor-element-1bb125f {
	--display: flex;
	--padding-top: 70px;
	--padding-bottom: 70px;
	--padding-left: 70px;
	--padding-right: 85px;
}

.elementor-795 .elementor-element.elementor-element-323017e .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 56px;
	font-weight: 600;
	color: var(--e-global-color-astglobalcolor4);
}

.elementor-795 .elementor-element.elementor-element-942f220 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 35px;
	font-weight: 400;
	color: #F0F5FAD1;
}

.elementor-795 .elementor-element.elementor-element-80cd97a {
	--display: flex;
	border-style: solid;
	--border-style: solid;
	border-width: 1px 1px 1px 1px;
	--border-top-width: 1px;
	--border-right-width: 1px;
	--border-bottom-width: 1px;
	--border-left-width: 1px;
	border-color: var(--e-global-color-text);
	--border-color: var(--e-global-color-text);
	--margin-top: 15px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-80cd97a:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-80cd97a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-269dae8>.elementor-widget-container {
	background-color: #0A0A0A;
	padding: 15px 30px 17px 30px;
}

.elementor-795 .elementor-element.elementor-element-269dae8 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 36px;
	font-weight: 600;
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-d3c19ee>.elementor-widget-container {
	padding: 16px 30px 30px 30px;
}

.elementor-795 .elementor-element.elementor-element-d3c19ee .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: #FFFFFF;
}

.elementor-widget-icon.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon {
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-widget-icon.elementor-view-framed .elementor-icon,
.elementor-widget-icon.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-6b9acee>.elementor-widget-container {
	margin: -40px 33px 0px 0px;
}

.elementor-795 .elementor-element.elementor-element-6b9acee .elementor-icon-wrapper {
	text-align: right;
}

.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-text);
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-framed .elementor-icon,
.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-default .elementor-icon {
	color: var(--e-global-color-text);
	border-color: var(--e-global-color-text);
}

.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-framed .elementor-icon,
.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-text);
}

.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-framed .elementor-icon {
	background-color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-6b9acee.elementor-view-stacked .elementor-icon svg {
	fill: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-6b9acee .elementor-icon {
	font-size: 44px;
	padding: 21px;
}

.elementor-795 .elementor-element.elementor-element-6b9acee .elementor-icon svg {
	height: 44px;
}

.elementor-795 .elementor-element.elementor-element-7809463 {
	--display: flex;
	--min-height: 600px;
	--border-radius: 0px 15px 15px 0px;
}

.elementor-795 .elementor-element.elementor-element-7809463:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-7809463>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../../../wp-content/uploads/2024/11/Untitled-design-8.jpg");
	background-position: center center;
	background-size: cover;
}

.elementor-795 .elementor-element.elementor-element-3da0208 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--justify-content: center;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-e08e4cb {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 50px 50px;
	--row-gap: 50px;
	--column-gap: 50px;
	--border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	--padding-top: 70px;
	--padding-bottom: 70px;
	--padding-left: 70px;
	--padding-right: 70px;
}

.elementor-795 .elementor-element.elementor-element-e08e4cb:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-e08e4cb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-0fc952c {
	--display: flex;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--margin-top: 0px;
	--margin-bottom: 55px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-0fc952c.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-795 .elementor-element.elementor-element-6affd12 {
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline {
	text-align: right;
	font-family: "Poppins", Sans-serif;
	font-size: 65px;
	font-weight: 600;
	line-height: 1.3em;
}

.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline-plain-text {
	color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline-dynamic-text {
	font-family: "Poppins", Sans-serif;
	font-weight: 700;
}

.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
}

.elementor-795 .elementor-element.elementor-element-da3eed5.elementor-element {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-da3eed5 {
	text-align: right;
	font-family: "Jost", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5em;
}

.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button {
	background-color: var(--e-global-color-secondary);
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	fill: #FFFFFF;
	color: #FFFFFF;
	border-style: none;
	border-radius: 2px 2px 2px 2px;
	padding: 16px 40px 14px 40px;
}

.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button:hover,
.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button:focus {
	background-color: var(--e-global-color-accent);
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button-content-wrapper {
	flex-direction: row-reverse;
}

.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button .elementor-button-content-wrapper {
	gap: 9px;
}

.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button:hover svg,
.elementor-795 .elementor-element.elementor-element-09fd027 .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-4f17fb8 {
	--display: flex;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-274eacf {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-0c6658e {
	--display: flex;
	--background-transition: 1.6s;
	border-style: solid;
	--border-style: solid;
	border-width: 10px 10px 10px 10px;
	--border-top-width: 10px;
	--border-right-width: 10px;
	--border-bottom-width: 10px;
	--border-left-width: 10px;
	border-color: var(--e-global-color-secondary);
	--border-color: var(--e-global-color-secondary);
	--border-radius: 6px 6px 6px 6px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-0c6658e:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-0c6658e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-0c6658e:hover {
	background-color: #000000;
	border-style: solid;
	border-color: #B9B8B8;
	--border-color: #B9B8B8;
}

.elementor-795 .elementor-element.elementor-element-0c6658e,
.elementor-795 .elementor-element.elementor-element-0c6658e::before {
	--border-transition: 0.9s;
}

.elementor-795 .elementor-element.elementor-element-0c6658e.e-con {
	--align-self: flex-start;
}

.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box.elementor-view-framed .elementor-icon,
.elementor-widget-icon-box.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-title,
.elementor-widget-icon-box .elementor-icon-box-title a {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
	font-weight: var(--e-global-typography-primary-font-weight);
}

.elementor-widget-icon-box .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-box:has(:hover) .elementor-icon-box-title,
.elementor-widget-icon-box:has(:focus) .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-widget-icon-box .elementor-icon-box-description {
	font-family: var(--e-global-typography-text-font-family), Sans-serif;
	font-weight: var(--e-global-typography-text-font-weight);
	color: var(--e-global-color-text);
}

.elementor-795 .elementor-element.elementor-element-72f92db {
	--icon-box-icon-margin: 0px;
}

.elementor-795 .elementor-element.elementor-element-72f92db .elementor-icon {
	font-size: 100px;
}

.elementor-795 .elementor-element.elementor-element-72f92db .elementor-icon-box-title,
.elementor-795 .elementor-element.elementor-element-72f92db .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-72f92db .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-3c35613 {
	--display: flex;
	--background-transition: 1.6s;
	border-style: solid;
	--border-style: solid;
	border-width: 10px 10px 10px 10px;
	--border-top-width: 10px;
	--border-right-width: 10px;
	--border-bottom-width: 10px;
	--border-left-width: 10px;
	border-color: var(--e-global-color-secondary);
	--border-color: var(--e-global-color-secondary);
	--border-radius: 6px 6px 6px 6px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-3c35613:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-3c35613>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-3c35613:hover {
	background-color: #000000;
	border-style: solid;
	border-color: #B9B8B8;
	--border-color: #B9B8B8;
}

.elementor-795 .elementor-element.elementor-element-3c35613,
.elementor-795 .elementor-element.elementor-element-3c35613::before {
	--border-transition: 0.9s;
}

.elementor-795 .elementor-element.elementor-element-3c35613.e-con {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-0f19480 {
	--icon-box-icon-margin: 0px;
}

.elementor-795 .elementor-element.elementor-element-0f19480 .elementor-icon {
	font-size: 100px;
}

.elementor-795 .elementor-element.elementor-element-0f19480 .elementor-icon-box-title,
.elementor-795 .elementor-element.elementor-element-0f19480 .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-0f19480 .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-4206268 img {
	border-radius: 14px 14px 14px 14px;
}

.elementor-795 .elementor-element.elementor-element-e701512 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--padding-top: 20px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-b3a9467 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 50px 50px;
	--row-gap: 50px;
	--column-gap: 50px;
	--border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	--padding-top: 70px;
	--padding-bottom: 0px;
	--padding-left: 70px;
	--padding-right: 70px;
}

.elementor-795 .elementor-element.elementor-element-b3a9467:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-b3a9467>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-d66e2f0 {
	--display: flex;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--margin-top: 0px;
	--margin-bottom: 55px;
	--margin-left: 0px;
	--margin-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-d66e2f0.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-795 .elementor-element.elementor-element-39dbf0b {
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-39dbf0b .elementor-headline {
	text-align: left;
	font-family: "Poppins", Sans-serif;
	font-size: 65px;
	font-weight: 600;
	line-height: 1.3em;
}

.elementor-795 .elementor-element.elementor-element-39dbf0b .elementor-headline-plain-text {
	color: var(--e-global-color-primary);
}

.elementor-795 .elementor-element.elementor-element-39dbf0b .elementor-headline-dynamic-text {
	font-family: "Poppins", Sans-serif;
	font-weight: 700;
}

.elementor-795 .elementor-element.elementor-element-39dbf0b .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
}

.elementor-795 .elementor-element.elementor-element-6fbcf50.elementor-element {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-6fbcf50 {
	text-align: left;
	font-family: "Jost", Sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5em;
}

.elementor-795 .elementor-element.elementor-element-790ea25 {
	--display: flex;
	--justify-content: flex-end;
	--gap: 30px 30px;
	--row-gap: 30px;
	--column-gap: 30px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-d9cb5f9>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-795 .elementor-element.elementor-element-d9cb5f9 img {
	border-radius: 15px 15px 15px 15px;
}

.elementor-795 .elementor-element.elementor-element-17acb85 {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 29px 29px;
	--row-gap: 29px;
	--column-gap: 29px;
	--margin-top: -125px;
	--margin-bottom: 0px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 0px;
	--padding-bottom: 100px;
	--padding-left: 100px;
	--padding-right: 100px;
}

.elementor-795 .elementor-element.elementor-element-3e29eca {
	--display: flex;
	--flex-direction: row;
	--container-widget-width: initial;
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--gap: 25px 25px;
	--row-gap: 25px;
	--column-gap: 25px;
	--padding-top: 0px;
	--padding-bottom: 0px;
	--padding-left: 0px;
	--padding-right: 0px;
}

.elementor-795 .elementor-element.elementor-element-3e29eca.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-795 .elementor-element.elementor-element-4b0d90f {
	--display: flex;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-4b0d90f:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-4b0d90f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #3F3F3F;
}

.elementor-795 .elementor-element.elementor-element-4b0d90f.e-con {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-37c107f {
	--icon-box-icon-margin: 0px;
}

.elementor-795 .elementor-element.elementor-element-37c107f .elementor-icon {
	font-size: 100px;
}

.elementor-795 .elementor-element.elementor-element-37c107f .elementor-icon-box-title,
.elementor-795 .elementor-element.elementor-element-37c107f .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-37c107f .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-33c86fd {
	--display: flex;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-33c86fd:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-33c86fd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #3F3F3F;
}

.elementor-795 .elementor-element.elementor-element-33c86fd.e-con {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-e7b4ccf {
	--icon-box-icon-margin: 0px;
}

.elementor-795 .elementor-element.elementor-element-e7b4ccf .elementor-icon {
	font-size: 100px;
}

.elementor-795 .elementor-element.elementor-element-e7b4ccf .elementor-icon-box-title,
.elementor-795 .elementor-element.elementor-element-e7b4ccf .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-e7b4ccf .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-957ac30 {
	--display: flex;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 30px;
	--padding-bottom: 30px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-957ac30:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-957ac30>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #3F3F3F;
}

.elementor-795 .elementor-element.elementor-element-957ac30.e-con {
	--align-self: flex-start;
}

.elementor-795 .elementor-element.elementor-element-243d105 {
	--icon-box-icon-margin: 0px;
}

.elementor-795 .elementor-element.elementor-element-243d105 .elementor-icon {
	font-size: 100px;
}

.elementor-795 .elementor-element.elementor-element-243d105 .elementor-icon-box-title,
.elementor-795 .elementor-element.elementor-element-243d105 .elementor-icon-box-title a {
	font-family: "Poppins", Sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-243d105 .elementor-icon-box-title {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-ef1d7f6 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--gap: 25px 25px;
	--row-gap: 25px;
	--column-gap: 25px;
	--border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 34px 23px -2px rgba(0, 0, 0, 0.25);
	--padding-top: 45px;
	--padding-bottom: 45px;
	--padding-left: 45px;
	--padding-right: 45px;
}

.elementor-795 .elementor-element.elementor-element-ef1d7f6:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-ef1d7f6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-accent);
}

.elementor-795 .elementor-element.elementor-element-905ea00 .elementor-heading-title {
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: var(--e-global-color-ac08eb1);
}

.elementor-795 .elementor-element.elementor-element-87344d6 .elementor-heading-title {
	font-family: "Jost", Sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4em;
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-0554e34 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--overlay-opacity: 0.41;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 0px;
	--padding-bottom: 20px;
	--padding-left: 20px;
	--padding-right: 20px;
}

.elementor-795 .elementor-element.elementor-element-0554e34::before,
.elementor-795 .elementor-element.elementor-element-0554e34>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-0554e34>.e-con-inner>.elementor-background-video-container::before,
.elementor-795 .elementor-element.elementor-element-0554e34>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-0554e34>.e-con-inner>.elementor-background-slideshow::before,
.elementor-795 .elementor-element.elementor-element-0554e34>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
	--background-overlay: '';
}

.elementor-795 .elementor-element.elementor-element-8fd8082 {
	--display: flex;
	--border-radius: 15px 15px 15px 15px;
	--padding-top: 60px;
	--padding-bottom: 300px;
	--padding-left: 30px;
	--padding-right: 30px;
}

.elementor-795 .elementor-element.elementor-element-8fd8082:not(.elementor-motion-effects-element-type-background),
.elementor-795 .elementor-element.elementor-element-8fd8082>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #111111;
}

.elementor-795 .elementor-element.elementor-element-7b008de {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-ac08eb1);
}

.elementor-795 .elementor-element.elementor-element-7b008de .elementor-headline {
	text-align: center;
	font-family: "Poppins", Sans-serif;
	font-size: 56px;
	font-weight: 400;
}

.elementor-795 .elementor-element.elementor-element-7b008de .elementor-headline-plain-text {
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-7b008de .elementor-headline-dynamic-text {
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-795 .elementor-element.elementor-element-7b008de .elementor-headline-dynamic-wrapper path {
	stroke: #FFFFFF;
	stroke-width: 2px;
}

.elementor-795 .elementor-element.elementor-element-2361b3a {
	width: var(--container-widget-width, 58%);
	max-width: 58%;
	--container-widget-width: 58%;
	--container-widget-flex-grow: 0;
	text-align: center;
	font-family: "Jost", Sans-serif;
	font-size: 23px;
	font-weight: 300;
	color: #E4E4E4;
}

.elementor-795 .elementor-element.elementor-element-2361b3a.elementor-element {
	--align-self: center;
}

.elementor-795 .elementor-element.elementor-element-220456f {
	--spacer-size: 5px;
}

.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button {
	background-color: var(--e-global-color-ac08eb1);
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-style: none;
	border-radius: 2px 2px 2px 2px;
	padding: 16px 40px 14px 40px;
}

.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button:hover,
.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button:focus {
	background-color: var(--e-global-color-secondary);
	color: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button-content-wrapper {
	flex-direction: row-reverse;
}

.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button:hover svg,
.elementor-795 .elementor-element.elementor-element-edf15fd .elementor-button:focus svg {
	fill: #FFFFFF;
}

.elementor-795 .elementor-element.elementor-element-9e47ece>.elementor-widget-container {
	margin: -255px 0px 0px 0px;
}

.elementor-795 .elementor-element.elementor-element-9e47ece img {
	width: 65%;
	border-style: solid;
	border-width: 13px 13px 13px 13px;
	border-color: var(--e-global-color-accent);
	border-radius: 29px 29px 29px 29px;
}

:root {
	--page-title-display: none;
}

@media(max-width:1024px) {
	.elementor-795 .elementor-element.elementor-element-fdf81d6 {
		--padding-top: 30px;
		--padding-bottom: 229px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-29cb463 .elementor-heading-title {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-0457938 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-01c0661 .elementor-heading-title {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-6a6a218 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-aa680d3 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-795 .elementor-element.elementor-element-041df2b {
		z-index: 50;
	}

	.elementor-795 .elementor-element.elementor-element-b66f0cd {
		z-index: 2;
	}

	.elementor-795 .elementor-element.elementor-element-b66f0cd .elementor-heading-title {
		font-size: 19px;
	}

	.elementor-795 .elementor-element.elementor-element-f85d55e .elementor-heading-title {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-8190cc4 {
		font-size: 18px;
	}

	.elementor-795 .elementor-element.elementor-element-a2198a0 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-ef39b6a {
		--gap: 20px 20px;
		--row-gap: 20px;
		--column-gap: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-1bb125f {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-323017e .elementor-heading-title {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-942f220 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-e08e4cb {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline {
		font-size: 50px;
	}

	.elementor-795 .elementor-element.elementor-element-da3eed5>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}

	.elementor-795 .elementor-element.elementor-element-da3eed5 {
		font-size: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-274eacf {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}

	.elementor-795 .elementor-element.elementor-element-72f92db .elementor-icon {
		font-size: 100px;
	}

	.elementor-795 .elementor-element.elementor-element-0f19480 .elementor-icon {
		font-size: 100px;
	}

	.elementor-795 .elementor-element.elementor-element-b3a9467 {
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-6fbcf50>.elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}

	.elementor-795 .elementor-element.elementor-element-6fbcf50 {
		font-size: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-17acb85 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 50px;
		--padding-right: 50px;
	}

	.elementor-795 .elementor-element.elementor-element-37c107f .elementor-icon {
		font-size: 100px;
	}

	.elementor-795 .elementor-element.elementor-element-e7b4ccf .elementor-icon {
		font-size: 100px;
	}

	.elementor-795 .elementor-element.elementor-element-957ac30 {
		--border-radius: 15px 15px 15px 15px;
	}

	.elementor-795 .elementor-element.elementor-element-243d105 .elementor-icon {
		font-size: 100px;
	}

	.elementor-795 .elementor-element.elementor-element-8fd8082 {
		--padding-top: 30px;
		--padding-bottom: 229px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-2361b3a {
		--container-widget-width: 97%;
		--container-widget-flex-grow: 0;
		width: var(--container-widget-width, 97%);
		max-width: 97%;
	}

	.elementor-795 .elementor-element.elementor-element-9e47ece>.elementor-widget-container {
		margin: -195px 0px 0px 0px;
	}

	.elementor-795 .elementor-element.elementor-element-9e47ece {
		text-align: center;
	}

	.elementor-795 .elementor-element.elementor-element-9e47ece img {
		width: 85%;
	}
}

@media(min-width:768px) {
	.elementor-795 .elementor-element.elementor-element-c1bb8e5 {
		--width: 100%;
	}

	.elementor-795 .elementor-element.elementor-element-0a982d6 {
		--width: 41.417%;
	}

	.elementor-795 .elementor-element.elementor-element-eba3927 {
		--width: 73%;
	}

	.elementor-795 .elementor-element.elementor-element-6c62d80 {
		--width: 62%;
	}

	.elementor-795 .elementor-element.elementor-element-0fc952c {
		--width: 48%;
	}

	.elementor-795 .elementor-element.elementor-element-d66e2f0 {
		--width: 63%;
	}

	.elementor-795 .elementor-element.elementor-element-3e29eca {
		--width: 60%;
	}

	.elementor-795 .elementor-element.elementor-element-0554e34 {
		--width: 100%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-795 .elementor-element.elementor-element-c1bb8e5 {
		--width: 95%;
	}

	.elementor-795 .elementor-element.elementor-element-6c62d80 {
		--width: 91%;
	}

	.elementor-795 .elementor-element.elementor-element-0554e34 {
		--width: 95%;
	}
}

@media(max-width:767px) {
	.elementor-795 .elementor-element.elementor-element-c1bb8e5 {
		--width: 90%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-795 .elementor-element.elementor-element-fdf81d6 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 20px;
		--padding-bottom: 20px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-29cb463 {
		text-align: center;
	}

	.elementor-795 .elementor-element.elementor-element-29cb463 .elementor-heading-title {
		font-size: 37px;
		line-height: 1.2em;
	}

	.elementor-795 .elementor-element.elementor-element-cb26d90 .elementor-headline {
		text-align: center;
		font-size: 42px;
		line-height: 1.5em;
	}

	.elementor-795 .elementor-element.elementor-element-349b457 {
		width: 100%;
		max-width: 100%;
		text-align: center;
		font-size: 18px;
	}

	.elementor-795 .elementor-element.elementor-element-0457938 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-01c0661 {
		text-align: center;
	}

	.elementor-795 .elementor-element.elementor-element-01c0661 .elementor-heading-title {
		font-size: 42px;
		line-height: 1.2em;
	}

	.elementor-795 .elementor-element.elementor-element-6a6a218 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-aa680d3 {
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-795 .elementor-element.elementor-element-f85d55e {
		text-align: center;
	}

	.elementor-795 .elementor-element.elementor-element-f85d55e .elementor-heading-title {
		font-size: 42px;
		line-height: 1.2em;
	}

	.elementor-795 .elementor-element.elementor-element-8190cc4 {
		text-align: center;
		font-size: 19px;
	}

	.elementor-795 .elementor-element.elementor-element-a2198a0 {
		--gap: 15px 15px;
		--row-gap: 15px;
		--column-gap: 15px;
		--overlay-opacity: 0.68;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-ef39b6a {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-1bb125f {
		--padding-top: 10px;
		--padding-bottom: 10px;
		--padding-left: 10px;
		--padding-right: 10px;
	}

	.elementor-795 .elementor-element.elementor-element-269dae8 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-d3c19ee .elementor-heading-title {
		font-size: 14px;
		line-height: 1.5em;
	}

	.elementor-795 .elementor-element.elementor-element-7809463 {
		--min-height: 235px;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-795 .elementor-element.elementor-element-e08e4cb {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-6affd12 .elementor-headline {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-da3eed5 {
		text-align: center;
		font-size: 19px;
	}

	.elementor-795 .elementor-element.elementor-element-b3a9467 {
		--gap: 30px 30px;
		--row-gap: 30px;
		--column-gap: 30px;
		--padding-top: 30px;
		--padding-bottom: 30px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-795 .elementor-element.elementor-element-39dbf0b .elementor-headline {
		font-size: 45px;
	}

	.elementor-795 .elementor-element.elementor-element-6fbcf50 {
		text-align: center;
		font-size: 19px;
	}

	.elementor-795 .elementor-element.elementor-element-17acb85 {
		--padding-top: 5px;
		--padding-bottom: 50px;
		--padding-left: 50px;
		--padding-right: 50px;
	}

	.elementor-795 .elementor-element.elementor-element-0554e34 {
		--width: 90%;
		--padding-top: 0px;
		--padding-bottom: 0px;
		--padding-left: 0px;
		--padding-right: 0px;
	}

	.elementor-795 .elementor-element.elementor-element-8fd8082 {
		--padding-top: 30px;
		--padding-bottom: 114px;
		--padding-left: 30px;
		--padding-right: 30px;
	}

	.elementor-795 .elementor-element.elementor-element-7b008de .elementor-headline {
		font-size: 38px;
		line-height: 1.5em;
	}

	.elementor-795 .elementor-element.elementor-element-2361b3a {
		width: 100%;
		max-width: 100%;
		font-size: 18px;
	}

	.elementor-795 .elementor-element.elementor-element-9e47ece>.elementor-widget-container {
		margin: -100px 0px 0px 0px;
	}
}